

.frame-hero {
 
  background: var(--bgggg, #F3FFFB);
  position: relative;
  /* height: 310px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 7.1rem 6.5rem 9.1rem 6.5rem;

}

.hero-text {
  display: flex;
  /* width: 50%; */
  flex-direction: column;
  box-sizing: border-box;

}

.frame-166 {
  white-space: normal;
  text-align: left;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  /* word-break: break-word;
    overflow: hidden; */
  /* align-items: center; */
  width: fit-content;
  box-sizing: border-box;
  gap: 16px;
}

.the-ultimate-budgeting-companion {
  margin: 0 3rem 0.8rem 0;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.3;
  color: var(--dark, #0E110D);
}

.the-ultimate-budgeting-companion {
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.333;
}

.the-ultimate-budgeting-companion-sub-10 {
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.333;
  color: var(--accent-1, #F6A00B);
}

.the-ultimate-budgeting-companion-sub11 {
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.333;
}

-section {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--dark, #0E110D);
  font-family: Plus Jakarta Sans;
  text-align: left;

}

.cta {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 26.8rem;
  box-sizing: border-box;
  align-items: center;

}

.frame-10 {
  border-radius: 2rem;
  background: var(--primary, #05976A);
  margin-right: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0rem 1rem 0;
  width: 12.6rem;
  box-sizing: border-box;
}

.download-app {
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white-2, #FFFFFF);
}

.cta-1 {
  border-radius: 2rem;
  /* border: 0.1rem solid var(--primaryprimary-50, #E6F5F0); */
  display: flex;
  flex-direction: row;
  padding: 0.8rem 0;
  width: 12.6rem;
  box-sizing: border-box;
}

.octiconplay-24 {
  margin-right: 0.6rem;
  width: 2rem;
  height: 2rem;
}

.play-demo {
  margin: 0.3rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--primaryprimary-900, #023F2D);
}

.iphone-13-mini-1 {
  /* top: 60px; */
  background: url('../../../public/images/Iphone13Mini1.png') 50% / cover no-repeat;
  position: absolute;
  right: 8.9rem;
  bottom: 0rem;
  width: 22.8rem;
  height: 45.5rem;

}

.frame-174 {
  border-radius: 6.3rem;
  border: 0.1rem solid var(--bgggg, #F3FFFB);
  background: var(--pastelspastel-pink, #FDB3D4);
  position: relative;
  display: flex;
  top: -205px;
  left: -260px;
  flex-direction: row;
  justify-content: center;
  padding: 1.2rem 0.1rem 1.2rem 0;
  width: 13.8rem;
  height: fit-content;
  box-sizing: border-box;
}

.track-expenses {
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--text-dark, #333333);
}

.frame-175 {
  border-radius: 6.3rem;
  border: 0.1rem solid var(--bgggg, #F3FFFB);
  background: var(--pastelssalmon, #FAA586);
  position: absolute;
  top: 6.3rem;
  right: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.1rem 0rem 1.1rem 0;
  width: 13.4rem;
  box-sizing: border-box;
}

.budget-creation {
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-dark, #333333);
}

.frame-176 {
  border-radius: 6.3rem;
  border: 0.1rem solid var(--bgggg, #F3FFFB);
  background: var(--pastelspastel-blue, #A3BBF9);
  position: absolute;
  left: -6rem;
  bottom: 18.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.1rem 0rem 1.1rem 0;
  width: 13.8rem;
  box-sizing: border-box;

}

.save-more {
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-dark, #333333);
}

.budget-1 {
  background: url('../../../public/images/Budget2.png') 50% / cover no-repeat;
  position: absolute;
  right: 2.1rem;
  bottom: 2.7rem;
  width: 15.6rem;
  height: 31.2rem;
}

.group-27 {
  position: absolute;
  right: 4.8rem;
  bottom: -13.7rem;
  padding: 0 0.6rem;
  /* flex-basis: 50%; */
  height: 45.5rem;
  /* box-sizing: border-box; */
  top: 63px;
  left: 707px;
  gap: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.frame-10:hover,
.cta-1:hover {
  cursor: pointer;
}



.hero-text {
  display: flex;
  /* width: 50%; */
  flex-direction: column;
  box-sizing: border-box;

}

.frame-166 {
  text-align: left;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  /* word-break: break-word;
    overflow: hidden; */
  /* align-items: center; */
  width: fit-content;
  box-sizing: border-box;
  gap: 16px;
}

.the-ultimate-budgeting-companion {
  margin: 0 3rem 0.8rem 0;
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.3;
  color: var(--dark, #0E110D);
}

.the-ultimate-budgeting-companion {
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.333;
}

.the-ultimate-budgeting-companion-sub-10 {
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.333;
  color: var(--accent-1, #F6A00B);
}

.the-ultimate-budgeting-companion-sub11 {
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.333;
}

-section {
  overflow-wrap: break-word;
  font-family: 'Plus Jakarta Sans';
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--dark, #0E110D);
  font-family: Plus Jakarta Sans;
  text-align: left;

}

.cta {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 26.8rem;
  box-sizing: border-box;
  align-items: center;

}

.frame-10 {
  border-radius: 2rem;
  background: var(--primary, #05976A);
  margin-right: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0rem 1rem 0;
  width: 12.6rem;
  box-sizing: border-box;
}

.download-app {
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white-2, #FFFFFF);
}

.cta-1 {
  border-radius: 2rem;
  /* border: 0.1rem solid var(--primaryprimary-50, #E6F5F0); */
  display: flex;
  flex-direction: row;
  padding: 0.8rem 0;
  width: 12.6rem;
  box-sizing: border-box;
}

.octiconplay-24 {
  margin-right: 0.6rem;
  width: 2rem;
  height: 2rem;
}

.play-demo {
  margin: 0.3rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--primaryprimary-900, #023F2D);
}

.iphone-13-mini-1 {
  /* top: 60px; */
  background: url('../../../public/images/Iphone13Mini1.png') 50% / cover no-repeat;
  position: absolute;
  right: 8.9rem;
  bottom: 0rem;
  width: 22.8rem;
  height: 45.5rem;

}

.frame-174 {
  border-radius: 6.3rem;
  border: 0.1rem solid var(--bgggg, #F3FFFB);
  background: var(--pastelspastel-pink, #FDB3D4);
  position: relative;
  display: flex;
  top: -205px;
  left: -260px;
  flex-direction: row;
  justify-content: center;
  padding: 1.2rem 0.1rem 1.2rem 0;
  width: 13.8rem;
  height: fit-content;
  box-sizing: border-box;
}

.track-expenses {
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--text-dark, #333333);
}

.frame-175 {
  border-radius: 6.3rem;
  border: 0.1rem solid var(--bgggg, #F3FFFB);
  background: var(--pastelssalmon, #FAA586);
  position: absolute;
  top: 6.3rem;
  right: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.1rem 0rem 1.1rem 0;
  width: 13.4rem;
  box-sizing: border-box;
}

.budget-creation {
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-dark, #333333);
}

.frame-176 {
  border-radius: 6.3rem;
  border: 0.1rem solid var(--bgggg, #F3FFFB);
  background: var(--pastelspastel-blue, #A3BBF9);
  position: absolute;
  left: -6rem;
  bottom: 18.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.1rem 0rem 1.1rem 0;
  width: 13.8rem;
  box-sizing: border-box;

}

.save-more {
  overflow-wrap: break-word;
  font-family: 'Lato';
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-dark, #333333);
}

.budget-1 {
  background: url('../../../public/images/Budget2.png') 50% / cover no-repeat;
  position: absolute;
  right: 2.1rem;
  bottom: 2.7rem;
  width: 15.6rem;
  height: 31.2rem;
}

.group-27 {
  position: absolute;
  right: 4.8rem;
  bottom: -13.7rem;
  padding: 0 0.6rem;
  /* flex-basis: 50%; */
  height: 45.5rem;
  /* box-sizing: border-box; */
  top: 63px;
  left: 707px;
  gap: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.frame-10:hover,
.cta-1:hover {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {

  .frame-hero .group-27 {
    display: none;
  }

  .hero-text .cta {
    flex-direction: column;


  }

 .frame-hero {

    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    padding: 1.1rem 1.5rem 4.1rem 1.5rem;
    flex-direction: column;

  }

  .hero-text {
    margin-top: 20px;
    text-align: center;
  }

  .frame-10 .download-app {
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

  }


  .cta .frame-10,
  .cta .cta-1 {
    width: 280px;
    margin: 0;
    height: 56px;
    padding: 10px;
    gap: 10px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    border-radius: 34px;
  }

  .cta {
    width: Hug (280px)px;
    height: Hug (132px)px;
    top: 329px;
    left: 57px;
    gap: 20px;
  }

  .frame-hero .frame-166 {
    align-items: center;
    text-align: center;
    margin: 0 auto; /* Center the element horizontally */
   
  }

  .hero-content {
  align-items: center;
    width: 80%;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
 
    box-sizing: border-box;
    gap: 16px;


  }

  .frame-166 .the-ultimate-budgeting-companion , 
  .frame-166 .the-ultimate-budgeting-companion-sub-10 
  {
    font-size: 28px;
  }
}