
.landing-page-1 .frame-1781 {
    background: #FFFFFF;
    margin-bottom: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.3rem 0 0.7rem 0;
    /* width: 90rem; */
    box-sizing: border-box;
  }
  .landing-page-1 .testimonials {
    margin: 0 0 1rem 1.8rem;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--body-heading-h-4-font-family, 'Lato');
    font-weight: var(--body-heading-h-4-font-weight, 700);
    font-size: var(--body-heading-h-4-font-size, 1.5rem);
    line-height: var(--body-heading-h-4-line-height, 1.5);
    color: var(--dark, #0E110D);
  }
  .landing-page-1 .testimonials-1 {
    background: var(--bgggg, #F3FFFB);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11.3rem 7.8rem 1.3rem 7.6rem;
    /* width: fit-content; */
    box-sizing: border-box;
  }
  .landing-page-1 .container-t {
    margin-right: 3.2rem;
    display: flex;
    flex-direction: row;
 white-space: normal;
 width: 30%;
    box-sizing: border-box;
  }
  .landing-page-1 .content-4 {
    /* margin: 0.9rem 0; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  
 
  
  .landing-page-1 .review {
    margin: 0 0rem 0.9rem 0rem;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    column-gap: 0.4rem;
    width: 7.1rem;
    box-sizing: border-box;
  }
  .landing-page-1 .star-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.1rem;
    height: 1.1rem;
    box-sizing: border-box;
  }
  .landing-page-1 .vector-4 {
    width: 1.1rem;
    height: 1.1rem;
  }
  .landing-page-1 .star-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.1rem;
    height: 1.1rem;
    box-sizing: border-box;
  }
  .landing-page-1 .vector-5 {
    width: 1.1rem;
    height: 1.1rem;
  }
  .landing-page-1 .star-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.1rem;
    height: 1.1rem;
    box-sizing: border-box;
  }
  
.landing-page-1 .vector-6 {
    width: 1.1rem;
    height: 1.1rem;
  }
  .landing-page-1 .star-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.1rem;
    height: 1.1rem;
    box-sizing: border-box;
  }
  .landing-page-1 .vector-7 {
    width: 1.1rem;
    height: 1.1rem;
  }
  .landing-page-1 .star-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.1rem;
    height: 1.1rem;
    box-sizing: border-box;
  }
  .landing-page-1 .vector-8 {
    width: 1.1rem;
    height: 1.1rem;
  }
  .content4-desc {
    margin-bottom: 2.1rem;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.556;
    color: var(--base-02, #090914);
  }

  .landing-page-1 .user {
    margin: 0 0rem;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .landing-page-1 .nora-james {
    margin-right: 1.3rem;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0rem;
    line-height: 1.75;
    color: var(--base-02, #090914);
  }
  
.landing-page-1 .grower-io {
    margin: 0.1rem 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--blue-gray-500, #64748B);
  }
  
  .landing-page-1 .bg {
    border-radius: 0.9rem;
    /* background: url('../../../public/images/Bg.png')50% / cover no-repeat; */
    margin-right: 2.3rem;
    width: 45rem;
    height: 13rem;
  }
  .landing-page-1 .ellipse-56 {
    border-radius: 0.6rem;
    background: var(--primaryprimary-700, #046B4B);
    margin: 0.1rem 0;
    width: 1.3rem;
    height: 1.3rem;
  }
  .landing-page-1 .ellipse-57 {
    border-radius: 0.8rem;
    background: var(--primaryprimary-700, #046B4B);
    width: 1.5rem;
    cursor: pointer;
    height: 1.5rem;
  }
  .landing-page-1 .ellipse-58 {
    border-radius: 0.6rem;
    background: var(--primaryprimary-700, #046B4B);
    margin: 0.1rem 0;
cursor: pointer;
    width: 1.3rem;
    height: 1.3rem;
  }
  .landing-page-1 .frame-124 {
    margin-left: 2.6rem;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    column-gap: 0.8rem;
    box-sizing: border-box;
  }


 
  .landing-page-1 .vector-13 {
    width: 1.1rem;
    height: 1.1rem;
  }
  .landing-page-1 .bg-1 {
    border-radius: 0.9rem;
    /* background: url('../../../public/images/Bg1.png') 50% / cover no-repeat; */
    margin-right: 2.3rem;
    width: 45rem;
    height: 13rem;
  }
    
.landing-page-1 .frame-153 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}


.landing-page-1 .what-our-clients-say-about-us {
  margin-bottom: 1.1rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--body-heading-h-3-font-family, 'Lato');
  font-weight: var(--body-heading-h-3-font-weight, 700);
  font-size: var(--body-heading-h-3-font-size, 2.5rem);
  line-height: var(--body-heading-h-3-line-height, 1.5);
  color: var(--primary, #05976A);
}