.footer-sec {
    background: var(--primaryprimary-700, #046B4B);
   
    /* padding: 5.5rem 7rem 2.5rem 7rem; */
    box-sizing: border-box;
    padding-bottom: 3rem;
    height: Hug (48px)px; 

  }
  
.card {
    /* margin-bottom: 2.3rem; */
    margin: 0.6rem 2rem 0.3rem 0;
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
    align-self: flex-start;
    padding: 5rem 2rem 2rem 5rem;
    box-sizing: border-box;
  }
 .newsletter {
    margin: 0.6rem 8rem 0.3rem 0;
    display: flex;
    flex-direction: column;
    width: 45%;
    color: white;
    box-sizing: border-box;
    white-space: normal;
  }
 .black-logo-no-background-3 {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 13rem;
    box-sizing: border-box;
  }
 .svgjs-g-2232 {
    margin-right: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 3rem;
    height: 2.4rem;
    box-sizing: border-box;
  }
 .shape {
    width: 3rem;
    height: 2.4rem;
  }
 .svgjs-g-2233 {
    margin: 0.6rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 8.5rem;
    height: 1.2rem;
    box-sizing: border-box;
  }
 .vector {
    width: 8.5rem;
    height: 1.2rem;
  }
  
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 72.3rem;
    margin-left: 5rem;
    box-sizing: border-box;
  }
 .text-2 {
    margin-right: 0.7rem;
    /* width: 50.1rem; */
    text-align: center;
    overflow-wrap: break-word;
    font-family: var(--text-small-normal-font-family, 'Roboto');
    font-weight: var(--text-small-normal-font-weight, 400);
    font-size: var(--text-small-normal-font-size, 0.9rem);
    line-height: var(--text-small-normal-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }
 .footer-links-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
 .link-26 {
    overflow-wrap: break-word;
    font-family: var(--text-small-link-font-family, 'Roboto');
    font-weight: var(--text-small-link-font-weight, 400);
    font-size: var(--text-small-link-font-size, 0.9rem);
    text-decoration-line: var(--text-small-link-text-decorationLine, underline);
    line-height: var(--text-small-link-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }
 .link-27 {
    overflow-wrap: break-word;
    font-family: var(--text-small-link-font-family, 'Roboto');
    font-weight: var(--text-small-link-font-weight, 400);
    font-size: var(--text-small-link-font-size, 0.9rem);
    text-decoration-line: var(--text-small-link-text-decorationLine, underline);
    line-height: var(--text-small-link-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }
 .link-23 {
    margin: 0 0.7rem 1.2rem 0.1rem;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
 .icon-linked-in {
    margin: 0.1rem 0.9rem 0.1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.1rem;
    height: 1.1rem;
    box-sizing: border-box;
  }
 .linked-in {
    overflow-wrap: break-word;
    font-family: var(--text-small-normal-font-family, 'Roboto');
    font-weight: var(--text-small-normal-font-weight, 400);
    font-size: var(--text-small-normal-font-size, 0.9rem);
    line-height: var(--text-small-normal-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }
 .link-24 {
    margin-right: 0.7rem;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
 .icon-youtube , .icon-twitter , .icon-linkedin , .icon-facebook , .icon-instagram{
    margin: 0.2rem 0.9rem 0.2rem 0;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: center;
    width: 1.3rem;
    height: 0.9rem;
    box-sizing: border-box;
  }
 .youtube {
    overflow-wrap: break-word;
    font-family: var(--text-small-normal-font-family, 'Roboto');
    font-weight: var(--text-small-normal-font-weight, 400);
    font-size: var(--text-small-normal-font-size, 0.9rem);
    line-height: var(--text-small-normal-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }
 .vector-14 {
    width: 1.3rem;
    height: 1.3rem;
  }
 .vector-15 {
    width: 1.1rem;
    height: 1.1rem;
  }
 .vector-16 {
    width: 1.1rem;
    height: 1rem;
  }
 .vector-17 {
    width: 1.1rem;
    height: 1.1rem;
  }
 .vector-18 {
    width: 1.3rem;
    height: 0.9rem;
  }
 .link-10 {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    box-sizing: border-box;
  }
 .link-11 {
    overflow-wrap: break-word;
    font-family: var(--text-small-normal-font-family, 'Roboto');
    font-weight: var(--text-small-normal-font-weight, 400);
    font-size: var(--text-small-normal-font-size, 0.9rem);
    line-height: var(--text-small-normal-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }
 .link-12 {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    box-sizing: border-box;
  }
 .link-13 {
    overflow-wrap: break-word;
    font-family: var(--text-small-normal-font-family, 'Roboto');
    font-weight: var(--text-small-normal-font-weight, 400);
    font-size: var(--text-small-normal-font-size, 0.9rem);
    line-height: var(--text-small-normal-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }
 .link-14 {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    box-sizing: border-box;
  }
 .link-15 {
    overflow-wrap: break-word;
    font-family: var(--text-small-normal-font-family, 'Roboto');
    font-weight: var(--text-small-normal-font-weight, 400);
    font-size: var(--text-small-normal-font-size, 0.9rem);
    line-height: var(--text-small-normal-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }
 .link-16 {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
  }
 .link-17 {
    overflow-wrap: break-word;
    font-family: var(--text-small-normal-font-family, 'Roboto');
    font-weight: var(--text-small-normal-font-weight, 400);
    font-size: var(--text-small-normal-font-size, 0.9rem);
    line-height: var(--text-small-normal-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }
 .link-18 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    box-sizing: border-box;
  }
 .link-19 {
    overflow-wrap: break-word;
    font-family: var(--text-small-normal-font-family, 'Roboto');
    font-weight: var(--text-small-normal-font-weight, 400);
    font-size: var(--text-small-normal-font-size, 0.9rem);
    line-height: var(--text-small-normal-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }

 .social-links {
    margin-left: 0.1rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
  }

 .facebook {
    overflow-wrap: break-word;
    font-family: var(--text-small-normal-font-family, 'Roboto');
    font-weight: var(--text-small-normal-font-weight, 400);
    font-size: var(--text-small-normal-font-size, 0.9rem);
    line-height: var(--text-small-normal-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }

 .icon-x {
    margin: 0.2rem 0.9rem 0.1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1.1rem;
    height: 1rem;
    box-sizing: border-box;
  }
 .text {
    margin-bottom: 1.5rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0rem;
    line-height: 1.5;
    color: var(--white-2, #FFFFFF);
  }
 .actions {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* width: fit-content; */
    box-sizing: border-box;
  }
 .form {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    /* width: fit-content; */
    box-sizing: border-box;
  }
  

.text-input {
    border-radius: 0.5rem;
    border: 0.1rem solid var(--white-2, #FFFFFF);
    background: var(--white, #FFFFFF);
    margin-right: 1rem;
    padding: 0.8rem;
    width: 22.6rem;
    box-sizing: border-box;
  }
 .button {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.8rem 0rem 0.8rem 0;
    width: 7.7rem;
    box-sizing: border-box;
  }
 .text-1 {
    margin-right: 2.2rem;
    overflow-wrap: break-word;
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0rem;
    line-height: 1.5;
    color: var(--white-2, #FFFFFF);
  }
  
.links {
    display: flex;
    width: 50%;
    flex-direction: row;
    box-sizing: border-box;
  }
 .column {
    margin: 0 2.9rem 0.8rem 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 150px;
  }
 .heading {
    margin-bottom: 1.5rem;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--text-regular-semi-bold-font-family, 'Roboto');
    font-weight: var(--text-regular-semi-bold-font-weight, 600);
    font-size: var(--text-regular-semi-bold-font-size, 1rem);
    line-height: var(--text-regular-semi-bold-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }
 .footer-links {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    /* width: fit-content; */
    box-sizing: border-box;
  }
  

.link {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    box-sizing: border-box;
  }
 .link-1 , .link-2 , .link-3 , .link-4 , .link-0 {
    overflow-wrap: break-word;
    font-family: var(--text-small-normal-font-family, 'Roboto');
    font-weight: var(--text-small-normal-font-weight, 400);
    font-size: var(--text-small-normal-font-size, 0.9rem);
    line-height: var(--text-small-normal-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }
 
 .link-6 {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    box-sizing: border-box;
  }
 
  .link-8 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    box-sizing: border-box;
  }


  .heading-1 {
    margin-bottom: 1.5rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--text-regular-semi-bold-font-family, 'Roboto');
    font-weight: var(--text-regular-semi-bold-font-weight, 600);
    font-size: var(--text-regular-semi-bold-font-size, 1rem);
    line-height: var(--text-regular-semi-bold-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }
  .footer-links-1 {
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
    box-sizing: border-box;
  }


  .heading-2 {
    margin-bottom: 1.6rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--text-regular-semi-bold-font-family, 'Roboto');
    font-weight: var(--text-regular-semi-bold-font-weight, 600);
    font-size: var(--text-regular-semi-bold-font-size, 1rem);
    line-height: var(--text-regular-semi-bold-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }
  
  .link-20 {
    margin: 0 0.1rem 1.2rem 0rem;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  
 .link-21 {
    margin: 0 0 1.2rem 0.1rem;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  
 .instagram {
    overflow-wrap: break-word;
    font-family: var(--text-small-normal-font-family, 'Roboto');
    font-weight: var(--text-small-normal-font-weight, 400);
    font-size: var(--text-small-normal-font-size, 0.9rem);
    line-height: var(--text-small-normal-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }
 .link-22 {
    margin: 0 0.1rem 1.2rem 0.1rem;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  
 .x {
    overflow-wrap: break-word;
    font-family: var(--text-small-normal-font-family, 'Roboto');
    font-weight: var(--text-small-normal-font-weight, 400);
    font-size: var(--text-small-normal-font-size, 0.9rem);
    line-height: var(--text-small-normal-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }
  
    
.link-25 {
    margin-right: 0.7rem;
    width: 6.3rem;
    overflow-wrap: break-word;
    font-family: var(--text-small-link-font-family, 'Roboto');
    font-weight: var(--text-small-link-font-weight, 400);
    font-size: var(--text-small-link-font-size, 0.9rem);
    text-decoration-line: var(--text-small-link-text-decorationLine, underline);
    line-height: var(--text-small-link-line-height, 1.5);
    color: var(--white-2, #FFFFFF);
  }
  

/* Styles for mobile */
@media (max-width: 767px) {
  .footer-sec {
    padding: 20px;
  }

  .card {
    flex-direction: column;

    padding: 20px;
  }

  .newsletter {
    width: 100%;
    margin-bottom: 20px;
  }

  .row {
    flex-direction: column;
 margin-left: -10px;
    text-align: left;
  }

  .footer-links-2 {
    margin-top: 10px;
  }

  .footer-links-2 span {
    margin: 0 10px;
  }
  .text , .actions{
    display: none ;
  }
  .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns in one row for mobile view */
    grid-gap: 10px; /* Adjust spacing between columns */
  }
  
  .column {
    box-sizing: border-box;
    padding: 0 10px; /* Adjust spacing between columns */
  }
  .footer-links-2{
    justify-content: left;
  }
  .row{
    width: auto;
  }
}
  